#bildegalleri {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  
}

div.gallery {
  padding-bottom: 16px;
}

div.gallery:hover {
  transform: scale(2);
  z-index: 1;
 }  

div.gallery img {
  height: 310px;
  border-radius: 8px;
  padding:5px;
  
}

div.desc {
  padding: 15px;
  text-align: center;
}
