@import "fonts.css";
@import "gallery.css";
@import "utils.css";

/** CSS Reset **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
}

.header {
  display: flex;
  max-height: 360px;
}
.logo {
  box-shadow: -50px -10px 50px 0;
}

.logo img {
  max-width: 360px;
  min-height: 360px;
}

.header {
  box-shadow: -50px -10px 50px 0;
}
.header img {
  min-width: 80%;
}

.content {
  margin-inline:25px;
}
.article {
  position: relative;
  z-index: 0;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}


