.article div {
  padding: 20px;
  border-radius: 20px;
  border: double solid black;
}

.margin-small {
  margin: 8px;
}

.margin-medium {
  margin: 16px;
}

.margin-large {
  margin: 24px;
}

.bg-cornBlue {
  background-color: cornflowerblue;
}

.bg-burlyWood {
  background-color: burlywood;
}

.bg-darkPurple {
  background-color: darkmagenta;
}

.bg-darkCyan {
  background-color: darkcyan;
}

h1 {
  font-size: 64px;
  text-align: ;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 18px;
}
