.article div {
  padding: 20px;
  border-radius: 20px;
  border: double solid black;
}

.margin-small {
  margin: 8px;
}

.margin-medium {
  margin: 16px;
}

.margin-large {
  margin: 24px;
}

.font-bungee {
  font: var(bungee-outline-regular);
}

.font-sarpanch {
  font: var(sarpanch-black);
}

.font-kablammo {
  font: var(kablammo-uniquifier);
}

.bg-cornBlue {
  background-color: cornflowerblue;
}

.bg-burlyWood {
  background-color: burlywood;
}

.bg-darkPurple {
  background-color: darkmagenta;
}

.bg-darkCyan {
  background-color: darkcyan;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 36px;
}

p {
  font-size: 18px;
}
